<h1 id="profile"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> profile page</h1>
    <div class="d-flex align-items-center flex-column">
      <h2>My Bookings</h2>
      <% @bookings.each do |booking|%>
        <div class="card-product">
          <%=cl_image_tag booking.car.photos.first.key %>
          <div class="card-product-infos">
            <h2><%= booking.car.name %></h2>
            <p> from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %></p>
          </div>
          <div class = "card-product-link">
              <p id ="event-link"> <%= link_to car_booking_path(booking.car.id, booking.id), class: "home-link-to-show" do %> details <%end %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
