<div class ="car-show">
 <h2 id="title">Book This Car</h2>

  <div class="container-show-top">
    <div class="row">
      <div class="col-sm-8">
      <%= cl_image_tag @car.photos.first.key %>
      </div>


      <div class="col-sm-4 d-flex align-items-center flex-column">
      <h2><%= @car.name %></h2>
      <ul>
        <li>€ <%= @car.price_per_day %> per day</li>
        <li>Seats: <%= @car.places %></li>
        <li><%= @car.km %> Km</li>
        <li> plate: <%= @car.license_plate %></li>
      </ul>
      </div>
    </div>
  </div>

  <div class="container-show-bottom">
    <div class="row">
      <div class="col-sm-6">
        <h4><%= @car.location %></h4>
        <div id = "map2"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>


      <div class="col-sm-6">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <h3>Book this car</h3>
          <div id='car-booking-dates' data-unavailable="<%= @car.unavailable_dates.to_json %>">
             <% if user_signed_in? %>
                <p><strong> Book now!</strong></p>
                <%= simple_form_for([@car, @booking]) do |f| %>
                  <%= f.input :start_date, as: :string, type: :text, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :end_date, as: :string, type: :text, required: false, input_html: {class: "datepicker"} %>
                  <%= f.submit "Book", class: "btn btn-dark" %>
                <% end %>
             <% else %>
             <p>Log-In to book this car!</p>
                <%=  link_to new_user_session_path, class: "link-to-login" do%>
                  <button type="button" class="btn btn-outline-dark">LOG-IN</button>
                <% end %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
